.category-container
{
  display: flex;
  padding: 0px var(--kendo-spacing-25, 10px);
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  align-self: stretch;

}

.category-text
{
  align-self: stretch;
  color: #000;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.category-tags-container
{
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  gap: 10px var(--kendo-spacing-25, 10px);
  align-self: stretch;
  flex-wrap: wrap;
}

.category-tag
{
  display: flex;
  padding: 5px 9px;
  background-color: #fff;
  color: #2192CE;
  gap: var(--kendo-spacing-0);
  border-radius: 5px;
  border: 2px solid #2192CE;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  opacity: 1;
}

.category-tag.selected
{
  background-color:  #2192CE;
  color: #fff;
}
